.crypto-details {
  width: 80vw;
  margin: 1rem 0;

  .sub-title {
    font-size: 1.75rem;
    font-weight: 500;
    color: yellowgreen;
  }

  .crypto-detail-container {
    display: flex;
    align-items: center;

    .crypto-symbol {
      width: 30px;
      height: 30px;
    }

    .title {
      margin-left: 1rem;
      font-weight: 500;
      font-size: 1.75rem;
      color: limegreen;
    }

    .price {
      margin: 0;
      font-weight: 400;
      font-size: 1.5rem;
      margin-left: 1rem;
    }

    .rank {
      margin-left: auto;
      font-size: 1.25rem;
    }
  }

  .crypto-chart {
    .select-time {
      width: 300px;
    }
  }

  .statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .stats-col {
    width: 400px;
    margin-top: 2rem;
    padding: 1rem;
    background-color: #232323;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    .stats-title {
      text-align: center;
      margin: 0.5rem 0 1.5rem 0;
      font-weight: 400;
      font-size: 1.5rem;
    }

    .stats-row {
      padding: 0.75rem 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid #000;

      .stats-row-title {
        font-size: 1.1rem;
      }

      .stats-row-value {
        font-size: 1.5rem;
      }

      &:hover {
        background-color: #323232;
      }
    }

    .stats-row:last-child {
      border-bottom: 1px solid #000;
    }
  }

  .links-col {
    width: 100%;

    .links-row {
      text-decoration: none;
      color: #fefefe;
      display: flex;

      .link-info {
        display: flex;
        justify-content: center;
        align-items: center;

        .link-icon {
          .icon-i {
            font-size: 1.5rem;
            padding: 0 0.75rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid #000;
          }
        }

        .link-name {
          margin-left: 0.75rem;
          font-size: 1.2rem;
        }
      }
    }
  }
  .coin-description {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 1.25rem;
      color: yellowgreen;
      font-weight: 400;
      margin: 1.25rem 0 0.5rem 0;
    }
    p {
      color: #eee;
    }

    a {
      color: yellowgreen;
      text-decoration: none;
      font-weight: 500;
    }
  }
}
