.main-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;

  .main {
    width: 80%;

    .menu {
      margin: 1.5rem 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      .menu-item {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
