.footer-wrapper {
  width: 100vw;
  overflow-x: hidden;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }
}
