.news-wrapper {
  margin: 1rem 0;
  width: 80vw;

  .select-news {
    margin-bottom: 2rem;
    width: 300px;
  }

  .news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}
